<div id="robo-component">
  <div class="robo-container">
    <div class="robo-family">
      <div class="robo-styling">
        <div class="robo-container-img">
          <img
            src="https://robohash.org/{{ user.username }}?size=200x200&set=set3"
            alt=""
          />
        </div>
        <div class="robo-container-word">
          <h4>{{ user.name }}</h4>
          <p>{{ user.email.toLocaleLowerCase() }}</p>
        </div>
      </div>
      <button
        class="btn"
        routerLink="/users/:id"
        (click)="getUserInfo(user.id)"
      >
        View Details
      </button>
    </div>
  </div>
</div>
