<!doctype html>
<html lang="en">

  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

    <title>Home Page</title>
  </head>

  <body>
    <div class="container home my-3">

      <div class="img">
        <img src="../../assets/images/unsplash-img.jpg" class="img img-fluid" alt="profile-photo"/>
      </div>

      <div class="home-details">
        <p>HELLO, I AM</p>
        <h1 class="name">OBEITOR ABDULQAWEEYU</h1>
        <p class="occupation">SOFTWARE ENGINEER</p>
        <p class="about">
          An immense passion for developing technological solutions for humanity
          drives me, hit me up! let's innovate and build the future.
        </p>
        <a href="" class="btn btn-info">Hire Me!</a>
      </div>

    </div>

    <div class="bottom-part container">

      <h2 class="focus-header">FOCUS AREAS</h2>

      <div class="focus-area">
        
        <div class="card">
          <div class="card-body">
            <h5 class="card-title">Algorithms and Data Structures</h5>
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
          </div>
        </div>

        <div class="card">
          <div class="card-body">
            <h5 class="card-title">Project Managaemnt</h5>
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
          </div>
        </div>

        <div class="card">
          <div class="card-body">
            <h5 class="card-title">Coding Languages</h5>
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
          </div>
        </div>

        <div class="card">
          <div class="card-body">
            <h5 class="card-title">Operating Systems</h5>
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
          </div>
        </div>

      </div>

    </div>

    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.12.9/dist/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
  </body>

</html>
